# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\sirru\Documents\IdeaProjects\TMCProjects\mooc-java-programming-ii\part13-Part13_11.Joke\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
